body {
    font-family: Calibri, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    display: flex; /* Center container vertically and horizontally */
    justify-content: center;
    align-items: center;
    color: rgb(60, 60, 59);;
}

h1 {
    color: #89c82e; /* Green heading */
    font-size: 36px; /* Adjust font size as needed */
}

p {
    color: #ffffff; /* White text */
    font-size: 18px; /* Adjust font size as needed */
}

.form-container {
  
    background-color: rgb(137, 200, 46);
    padding: 10px; /* Padding around content */
    border-radius: 15px; /* Rounded corners */
    border: 5px solid rgb(60, 60, 59); /* Green border */
    min-width: 50vh; /* Minimum width of the container */
    max-width: 90vh; /* Maximum width of the container */
    max-height: 80vh; 
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .submit-btn {
    background-color: rgb(231, 0, 100);
    border-radius: 5px;
    padding: 10px 20px; /* Adjust padding for button */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .form-group {
    display: flex; /* Flexbox for horizontal layout */
    align-items: center; /* Vertically center label and input */
    margin-bottom: 15px; /* Adjust spacing between form groups */
  }
  
  .form-group label {
    flex: 0 0 auto; /* Label width to fit its content */
    margin-right: 5px; /* Add spacing between label and input */
  }
  
  .formInput {
    padding: 5px; /* Adjust padding for input */
    border-radius: 5px; /* Rounded corners */
    border-style: hidden;
    flex: 1; /* Input takes up remaining space */
    color: rgb(231, 0, 100); /* DN Pink until valid*/
  }
  
  .myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .error-messages li {
    color: rgb(231, 0, 100); /* DN Pink */
    list-style-type: none;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .error-messages ul {
    padding: 0;
  }
  
  .formInput.valid {
    border: 1px solid rgb(137, 189, 36); /* DN green */
    color: rgb(137, 189, 36)
  }
  