<div class="form-container">
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="error-messages">
      <ul>
        <li *ngIf="!name.valid && name.touched">Please enter a valid name</li>
        <li *ngIf="!email.valid && email.touched">Please enter a valid email address</li>
        <li *ngIf="!cardNumber.valid && cardNumber.touched">Please enter a valid credit card number</li>
      </ul>
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        placeholder="Enter your name"
        id="name"
        name="name"
        ngModel
        #name="ngModel"
        required
        minlength="3"
        maxlength="50"
        pattern="^[a-zA-Z ]+$"
        class="formInput"
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        placeholder="Enter your email"
        id="email"
        name="email"
        ngModel
        #email="ngModel"
        required
        email
        class="formInput"
      />
    </div>
    <div class="form-group">
      <label for="cardNumber">Card:</label>
      <input
        placeholder="Enter a Proxy Credit Card Number."
        id="cardNumber"
        name="cardNumber"
        ngModel
        #cardNumber="ngModel"
        required
        minlength="16"
        maxlength="16"
        pattern="^\d{16}$"
        class="formInput"
      />
    </div>
    <button type="submit" class="submit-btn" [disabled]="myForm.invalid">Submit</button>
  </form>
</div>
